<div class="app">
    <h3>Do you find this site user friendly ?</h3>
  
    <div class="feedback-container ">
        <div class="imgCont"> 
            <div class="cont1">
                <img src="assets/icons/feedbackEmoji1.svg" alt="">
                <img src="assets/icons/feedbackClrEmoji1.svg" alt="">
            </div>
           
            <div class="text">
                <p>Worst</p>
            </div>
        </div>
       <div class="imgCont">
        <img src="assets/icons/feedbackEmoji2.svg" alt="">
        <img src="assets/icons/feedbackClrEmoji2.svg" alt="">
        <div class="text">
            <p>Bad</p>
        </div>
       
       </div >
        <div class="imgCont">
            <img src="assets/icons/feedbackEmoji3.svg" alt="">
            <img src="assets/icons/feedbackClrEmoji3.svg" alt="">
            <div class="text">
            <p>Ok</p>
           </div>
        </div>
        <div class="imgCont">
            <img src="assets/icons/feedbackEmoji5.svg" alt="">
            <img src="assets/icons/feedbackClrEmoji4.svg" alt="">
            <div class="text">
                <p>Good</p>
            </div>
        </div>
        
        <div class="imgCont">
            <img src="assets/icons/feedbackEmoji4.svg" alt="">
            <img src="assets/icons/feedbackClrEmoji5.svg" alt="">
            <div class="text">
                <p>Lovely</p>
            </div>
        </div>
    </div>
  </div>