@import 'assets/theme/theme-variable.scss';


body {
    font-family: $regular-font;
    margin: 0;
    color: $blackColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $bold-font;
    line-height: 1.2;
}

.p-component {
    font-family: $regular-font !important;
}

// multiselect & dropdown
.p-multiselect,
.p-dropdown {
    border-color: $blackColor !important;
    width: 100%;

    .p-placeholder {
        color: $secondaryColor !important;
    }
}

.p-multiselect .p-multiselect-label {
    font-size: 0.875rem !important;
    overflow-x: scroll;
    scrollbar-width: none;
    font-family: $bold-font !important;

    .p-multiselect-token-label {
        font-family: $regular-font !important;

    }

    // padding: 0.65625rem 0.65625rem !important;
}


.p-multiselect,
.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    background: $whiteColor !important;
    color: $blackColor !important;
    border: 1px solid $blackColor !important;
}

.p-multiselect,
.p-dropdown:not(.p-disabled):hover {
    border-color: $blackColor;
}

.p-multiselect-filter.p-inputtext:enabled:hover,
.p-multiselect-filter.p-inputtext:enabled:focus {
    border-color: $secondaryColor !important;
    box-shadow: none !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    box-shadow: none !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: $secondaryColor !important;
    background: $primaryColor !important;
}


.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    color: $blackColor !important;
    background-color: $primaryColor !important;
}

.p-dropdown {
    .p-dropdown-label {
        font-family: $bold-font !important;
        color: $secondaryColor !important;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
        background: $secondaryColor !important;
        color: $whiteColor !important;

    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
        background: $primaryColor !important;
        color: $secondaryColor !important;

    }

    .pi-chevron-down:before {
        content: '' !important;
        display: block;
        background-image: url('./assets/icons/dropdownIcon.svg');
        background-size: cover;
        background-position: center;
        width: 10px;
        height: 5px;
    }
}


// sort by dropdown
.sortBy {
    .p-dropdown {
        background: $primaryColor;
        border: 1px solid $secondaryColor !important;



        .pi-chevron-down:before {
            content: '' !important;
            display: block;
            background-image: url('./assets/icons/sortIcon.svg');
            background-size: cover;
            background-position: center;
            width: 16px;
            height: 14px;
        }
    }
}


// checkbox
.p-checkbox-box:hover {
    border-color: $secondaryColor !important;
}

.p-checkbox-box {
    border: 2px solid rgba($blackColor, .5) !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
    background: $secondaryColor !important;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none !important;
}

.p-checkbox-box {
    .pi-check:before {
        content: '' !important;
        display: block;
        background-image: url('./assets/icons/tickIcon.svg');
        background-size: cover;
        background-position: center;
        width: 10px;
        height: 8px;
    }
}


// pagination
.ngx-pagination .pagination-previous a:before,
.ngx-pagination .pagination-previous.disabled:before {
    content: '' !important;
    background-image: url('assets/icons/previous.svg');
    background-size: cover;
    background-position: center;
    width: 5px;
    height: 10px;
}

.ngx-pagination .pagination-previous.disabled:before,
.ngx-pagination .pagination-next.disabled:after {
    opacity: .5;
}

.ngx-pagination .pagination-next a:after,
.ngx-pagination .pagination-next.disabled:after {
    content: '' !important;
    background-image: url('assets/icons/next.svg');
    background-size: cover;
    background-position: center;
    width: 5px;
    height: 10px;
}

.ngx-pagination li:not(.pagination-previous):not(.pagination-next) a:hover,
.ngx-pagination button:hover,
.ngx-pagination .current {
    background-color: $secondaryColor !important;
    color: $whiteColor !important;
}

.ngx-pagination li.pagination-previous a:hover,
.ngx-pagination li.pagination-next a:hover {
    background-color: $primaryColor !important;
}

.ngx-pagination a {
    transition: all .3s;
}



// buttons
.p-button {
    font-family: $regular-font !important;
    background-color: $secondaryColor !important;
    border: 1px solid transparent !important;
    color: $primaryColor !important;
    height: 40px !important;
    border-radius: 10px !important;
    padding: 5px 25px !important;
    transition: all .6s ease-in-out;
}

.p-button:focus {
    box-shadow: none !important;
}

.p-button:active {
    transition: none !important;
    transform: translateY(1px);
}

.p-button:enabled:hover {
    background-color: $hoverBrown !important;
    color: $whiteColor !important;
    border: 1px solid transparent !important;
    transition: all .6s ease-in-out;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}

.p-button:enabled:active {
    background-color: $hoverBrown !important;
    border: 1px solid transparent !important;
}



@media (max-width:820px) {
    .contactPopup.p-dialog.p-dynamic-dialog {
        width: 60vw !important;
    }
}

@media (max-width:640px) {
    .contactPopup.p-dialog.p-dynamic-dialog {
        width: 70vw !important;
    }
}

@media (max-width:560px) {
    .contactPopup.p-dialog.p-dynamic-dialog {
        width: 80vw !important;
    }
}

@media (max-width:430px) {
    .contactPopup.p-dialog.p-dynamic-dialog {
        width: 90vw !important;
    }
}

@media (max-width:380px) {
    .contactPopup.p-dialog.p-dynamic-dialog {
        width: 95vw !important;
    }
}